<app-login></app-login>
<br>
<h2>Games</h2>
<button type="button" class="btn btn-info" (click)="createGame()">New Game</button>

<div class="row my-3">
	<ol>
		<li *ngFor="let game of games">
			<p>

				<a *ngIf="isOwnGame(game); else nolink" [routerLink]="" (click)="enterGame(game)">
					{{ getItemHtml(game) }}
				</a>

				<ng-template #nolink> {{ getItemHtml(game) }} </ng-template>

				<button type="button" class="btn btn-light btn-sm mx-2" (click)="joinGame(game.id)">Join</button>

			</p>
		</li>
	</ol>
</div>

<app-player-list></app-player-list>
