<div class="row mt-3">
	<div class="col-7">
		<h2>Games <button type="button" class="btn btn-info btn-sm mx-2" (click)="createGame()">Create Game</button></h2>

		<ol>
			<li *ngFor="let game of games">
				<p>

					<a *ngIf="hasJoined(game); else noLink" [routerLink]="" (click)="reenterGame(game)" class="text-dark">
						{{ getItemHtml(game) }}
					</a>

					<ng-template #noLink class="text-dark"> {{ getItemHtml(game) }} </ng-template>

					<button *ngIf="!hasJoined(game)" type="button" class="btn btn-outline-primary btn-sm mx-2" (click)="joinGame(game.id)">Join Game</button>

				</p>
			</li>
		</ol>
	</div>

	<div class="col-5">
		<app-player-list></app-player-list>
	</div>

</div>
