<div class="d-flex justify-content-end my-3">
	<button type="button" class="btn btn-outline-success mx-3" (click)="submitShips()">Done</button>
	<button type="button" class="btn btn-outline-danger mx-3" (click)="resetGrid()">Reset</button>
</div>

<table class="table table-bordered text-center">
	<thead>
		<tr>
			<th></th>
			<th scope="col" *ngFor="let col of cols">{{ col }}</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let row of rows">
			<th scope="row">{{ row }}</th>
			<td *ngFor="let col of cols" [attr.data-location]="row + col"
				(dragenter)="onDragEnter($event)"
				(dragleave)="onDragLeave($event)"
				(dragover)="onDragOver($event)"
				(drop)="onDrop($event)">
				<app-cell shipData="{{this.grid.get(row + col)}}"></app-cell>
			</td>
		</tr>
	</tbody>
</table>
