<table class="table table-bordered text-center mx-auto">
	<thead>
		<tr>
			<th scope="col"></th>
			<th scope="col" *ngFor="let col of cols">{{ col }}</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let row of rows">
			<th scope="row">{{ row }}</th>
			<td *ngFor="let col of cols" [attr.data-location]="row + col"
				(dragenter)="onDragEnter($event)"
				(dragleave)="onDragLeave($event)"
				(dragover)="onDragOver($event)"
				(drop)="onDrop($event)"
				(click)="onClick($event)">
				<app-cell cellData="{{this.grid.get(row + col)}}"></app-cell>
			</td>
		</tr>
	</tbody>
</table>
